.section-cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-title{
    .main-title-caption{
        @extend %font1;
        font-size: 43px;
        letter-spacing: 1px;
        font-weight: 100;
        color: $color_1;
        margin: 8px 0 10px 0 ;
        font-weight: bolder;
        text-align: center;
    }
}

.cart_section{
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: $color_4;
}

.chosen_prod{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex: 1 0 98%;
    min-height: 200px;
    margin: 0 15px 0 15px;
    .confirmation_bar-caption{
        width: fit-content;
        letter-spacing: 2px;
        font-size: 26px;
        font-family: Poppins;
        font-weight: 600;
        margin: 30px;
        display: flex;
        justify-content: center;
    }
}

.cart-title-btn2{
    transition: transform 0.5s ease;
    p{
        padding-left: 10px;
        font-size: 24px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @extend %button1;  
    color: #000;
    background-color: #ffffff;
    border: 1.5px solid $color_2;
    margin: 20px 0 20px 0;
    height: 64px;
    width: 100%;
}

.cart-title-btn{
    p{
        padding-left: 10px;
        font-size: 24px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @extend %button1; 
    margin: 20px 0 20px 0; 
    height: 64px;
    width: 100%;
}

.special-arrow{
    width: 60px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.special-arrow::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    top: 46%;
    left: 153%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px 2px 0 0;
    position: relative;
    transform-origin: 50% 50%;
}
.special-arrow::after {
    content: '';
    display: block;
    top: 4%;
    left: 163%;
    border-style: solid;
    border-color:#ffffff;
    position: relative;
    transform-origin: 50% 50%;
}

.right3::before { 
    transform: rotate(45deg); 
    margin: -4px 0 0 -52px;
}
.right3::after { 
    width: 38px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-84px, 1px);
}
.pay-form{
    position: relative;
    flex: 1 0 70%;
    max-width: 1550px;
    margin: 30px 15px 60px 15px;
}

.payment_form{
    padding: 50px;
    width: fit-content;
    
    flex-wrap: wrap;
    .Details_subsect{
        width: 50%;
        position: relative;
    }
    .Details_sect{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 27px
    }
    .details_sect-caption{
        @extend %font1;
        position: relative;
        width: 100%;
        color: #000;
        font-weight: 800;
        font-size: 34px;
        margin: 22px 0 0 4px;
        letter-spacing: 1px;
    }

    .name{
        margin: 33px 11px 0 11px ;
        height: 68px;
        width: 90%;
        font-size: 22px;
    }

    .name:placeholder-shown{
        color: #9b9a9a;
        font-size: 22px;
        letter-spacing: 1px;
    }

    .namelabel{
        position: absolute;
        text-align: center;
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        padding: 5px;
        top: 14px;
        left: 27px;
        letter-spacing: 1px;
        color: $color_2;
        background-color: $color_4;
    }
    .img_input1{
        position: absolute;
        width: 25px;
        height: 27px;
        top: 56px;
        right: 7%;
    }
    .img_input2{
        position: absolute;
        width: 29px;
        height: 25px;
        top: 54px;
        right: 7%;
    }

    .Payment_sect{
        margin-top: 50px;

        .payment_check{
            display: flex;
            flex-direction: row;
            margin: 30px 0 0 10px;
            input[type=checkbox] {
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
                font: inherit;
                color: $color_2;
                width: 38px;
                height: 38px;
                border: 0.15em solid $color_2;
                border-radius: 7px;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
            }

            input[type=checkbox]::before {
                content: "";
                width: 38px;
                height: 38px;
                border-radius: 7px;
                transform: scale(0);
                background-image: url(../img/Group\ 427319235.svg);
                background-size: cover;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
            }

            input[type=checkbox]:checked::before {
                transform: scale(1);
            }

            .payment_check_txt{
                display: flex;
                align-items: center;
                margin: 0;
                padding-left: 15px;
                letter-spacing: 0.2px;
                font-size: 24px;
                font-family: Poppins;
                font-weight: 600;
                color: #a0a0a0;
                height: fit-content;
            }

           
        }
        .online_paymentform{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            display: none;
            width: 98%;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            height: fit-content;
            padding: 10px 10px 30px 10px;
            margin: 30px 0 30px 0;
            .namelabel{
                top: 13px;
            }
        }
        
    }
}

.confirmation_bar{
    flex: 1 0 21%;
    max-width: 550px;
    height: 280px;
    padding: 30px 40px 30px 40px;
    margin: 30px 15px 30px 15px;
    .confirmation_bar-caption{
        letter-spacing: 2px;
        font-size: 34px;
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
    }

    .name{
        display: none;
    }

    .confirm_barp_cost{
        letter-spacing: 2px;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 800;
        margin: 14px 0 10px 0;
    }

    .confirm_bar_cost{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

