.section-cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
}
.main-title{
    .main-title-caption{
        @extend %font1;
        font-size: 43px;
        letter-spacing: 1px;
        font-weight: 100;
        color: $color_1;
        margin: 8px 0 10px 12px ;
        font-weight: bolder;
        text-align: center;
    }
}

.cart_section{
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: $color_4;
}

.chosen_prod{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex: 1 0 98%;
    min-height: 200px;
    margin: 0 15px 0 15px;
    .confirmation_bar-caption{
        width: fit-content;
        letter-spacing: 2px;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 600;
        margin: 30px;
        display: flex;
        justify-content: center;
    }
}

.cart-title-btn2{
    transition: transform 0.5s ease;
    p{
        padding-left: 10px;
        font-size: 18px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @extend %button1;  
    color: #000;
    background-color: #ffffff;
    border: 1.5px solid $color_2;
    margin: 20px 0 20px 0;
    height: 64px;
    width: 100%;
}

.cart-title-btn{
    p{
        padding-left: 10px;
        font-size: 18px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @extend %button1; 
    margin: 20px 0 20px 0; 
    height: 64px;
    width: 100%;
}

.special-arrow{
    width: 60px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.special-arrow::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    top: 46%;
    left: 153%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px 2px 0 0;
    position: relative;
    transform-origin: 50% 50%;
}
.special-arrow::after {
    content: '';
    display: block;
    top: 4%;
    left: 163%;
    border-style: solid;
    border-color:#ffffff;
    position: relative;
    transform-origin: 50% 50%;
}

.right3::before { 
    transform: rotate(45deg); 
    margin: -4px 0 0 -52px;
}
.right3::after { 
    width: 38px;
    height: 0;
    border-width: 2px 0 0 0;
    transform: translate(-84px, 1px);
}
.pay-form{
    position: relative;
    flex: 1 0 65%;
    max-width: 1000px;
    margin: 30px 15px 60px 15px;
}

.payment_form{
    padding: 50px;
    width: fit-content;
    
    flex-wrap: wrap;
    .Details_subsect{
        width: 50%;
        position: relative;
    }
    .Details_sect{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 27px
    }
    .details_sect-caption{
        @extend %font1;
        position: relative;
        width: 100%;
        color: #000;
        font-weight: 800;
        font-size: 24px;
        margin: 22px 0 0 4px;
        letter-spacing: 1px;
    }

    .name{
        margin: 25px 7px 0 8px ;
        height: 56px;
        width: 90%;
        font-size: 22px;
    }

    .name:placeholder-shown{
        color: #9b9a9a;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .namelabel{
        position: absolute;
        text-align: center;
        font-family: Poppins;
        font-weight: 600;
        font-size: 12px;
        padding: 5px;
        top: 12px;
        left: 27px;
        letter-spacing: 1px;
        color: $color_2;
        background-color: $color_4;
    }
    .img_input1{
        position: absolute;
        width: 19px;
        height: 20px;
        top: 45px;
        right: 8%;
    }
    .img_input2{
        position: absolute;
        width: 20px;
        height: 18px;
        top: 47px;
        right: 8%;
    }

    .Payment_sect{
        margin-top: 50px;

        .payment_check{
            display: flex;
            flex-direction: row;
            margin: 30px 0 0 10px;
            input[type=checkbox] {
                -webkit-appearance: none;
                appearance: none;
                background-color: #fff;
                margin: 0;
                font: inherit;
                color: $color_2;
                width: 38px;
                height: 38px;
                border: 0.15em solid $color_2;
                border-radius: 7px;
                transform: translateY(-0.075em);
                display: grid;
                place-content: center;
            }

            input[type=checkbox]::before {
                content: "";
                width: 38px;
                height: 38px;
                border-radius: 7px;
                transform: scale(0);
                background-image: url(../img/Group\ 427319235.svg);
                background-size: cover;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
            }

            input[type=checkbox]:checked::before {
                transform: scale(1);
            }

            .payment_check_txt{
                display: flex;
                align-items: center;
                margin: 0;
                padding: 2px 0 0 15px;
                letter-spacing: 0.2px;
                font-size: 20px;
                font-family: Poppins;
                font-weight: 600;
                color: #a0a0a0;
                height: fit-content;
            }

           
        }
        .online_paymentform{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            display: none;
            width: 98%;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            background-color: $color_4;
            height: fit-content;
            padding: 10px 10px 30px 10px;
            margin: 30px 0 30px 0;
            .namelabel{
                top: 13px;
            }
        }
        
    }
}

.confirmation_bar{
    flex: 1 0 21%;
    max-width: 550px;
    height: 280px;
    padding: 30px 40px 30px 40px;
    margin: 30px 15px 30px 15px;
    .confirmation_bar-caption{
        letter-spacing: 2px;
        font-size: 24px;
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
    }

    .name{
        display: none;
    }

    .confirm_barp_cost{
        letter-spacing: 2px;
        font-size: 18px;
        font-family: Poppins;
        font-weight: 800;
        margin: 14px 0 10px 0;
    }

    .confirm_bar_cost{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px){
    .section-cart{
        margin: 0 10px 0 10px;
    }
    .main-title{
        .main-title-caption{
            @extend %font1;
            font-size: 30px;
            margin: 8px 0 10px 14px ;
        }
    }
    
    .chosen_prod{
        flex: 1 0 95%;
        min-height: 150px;
        margin: 0 15px 0 15px;
        .confirmation_bar-caption{
            font-size: 16px;
            margin: 30px;
        }
    }
    
    .cart-title-btn2{
        p{
            padding-left: 10px;
            font-size: 18px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @extend %button1;  
        color: #000;
        background-color: #ffffff;
        border: 1.5px solid $color_2;
        margin: 20px 0 20px 0;
        height: 54px;
        width: 100%;
    }
    
    .cart-title-btn{
        p{
            padding-left: 10px;
            font-size: 18px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @extend %button1; 
        margin: 20px 0 20px 0; 
        height: 54px;
        width: 100%;
    }
    
    .special-arrow{
        width: 60px;
        height: 20px;
        display: inline-block;
        position: relative;
    }
    
    .special-arrow::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        top: 46%;
        left: 153%;
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        position: relative;
        transform-origin: 50% 50%;
    }
    .special-arrow::after {
        content: '';
        display: block;
        top: 4%;
        left: 163%;
        border-style: solid;
        border-color:#ffffff;
        position: relative;
        transform-origin: 50% 50%;
    }
    
    .right3::before { 
        transform: rotate(45deg); 
        margin: -4px 0 0 -52px;
    }
    .right3::after { 
        width: 38px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-84px, 1px);
    }
    .pay-form{
        position: relative;
        flex: 1 0 65%;
        max-width: 1000px;
        margin: 30px 15px 60px 15px;
    }
    
    .payment_form{
        padding: 20px;
        
        .Details_subsect{
            width: 50%;
        }
        .Details_sect{
            width: 100%;
            margin-bottom: 27px
        }
        .details_sect-caption{
            font-size: 20px;
            margin: 15px 0 0 4px;
        }
    
        .name{
            margin: 25px 7px 0 8px ;
            height: 48px;
            width: 90%;
            font-size: 14px;
        }
    
        .name:placeholder-shown{
            color: #9b9a9a;
            font-size: 14px;
            letter-spacing: 1px;
        }
    
        .namelabel{
            font-size: 10px;
            padding: 5px;
            top: 12px;
            left: 27px;
            letter-spacing: 1px;
        }
        .img_input1{
            position: absolute;
            width: 14px;
            height: 16px;
            top: 43px;
            right: 4%;
        }
        .img_input2{
            position: absolute;
            width: 15px;
            height: 13px;
            top: 45px;
            right: 3%;
        }
    
        .Payment_sect{
            margin-top: 50px;
    
            .payment_check{
                display: flex;
                flex-direction: row;
                margin: 30px 0 0 10px;
                input[type=checkbox] {
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    margin: 0;
                    font: inherit;
                    color: $color_2;
                    width: 28px;
                    height: 28px;
                    border: 0.15em solid $color_2;
                    border-radius: 7px;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;
                }
    
                input[type=checkbox]::before {
                    content: "";
                    width: 28px;
                    height: 28px;
                    border-radius: 7px;
                    transform: scale(0);
                    background-image: url(../img/Group\ 427319235.svg);
                    background-size: cover;
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em var(--form-control-color);
                }
    
                input[type=checkbox]:checked::before {
                    transform: scale(1);
                }
    
                .payment_check_txt{
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 2px 0 0 15px;
                    letter-spacing: 0.2px;
                    font-size: 16px;
                    font-family: Poppins;
                    font-weight: 600;
                    color: #a0a0a0;
                    height: fit-content;
                }
    
               
            }
            .online_paymentform{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                display: none;
                width: 98%;
                border-radius: 10px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                height: fit-content;
                padding: 10px 10px 30px 10px;
                margin: 30px 0 30px 0;
                .namelabel{
                    top: 13px;
                }
            }
            
        }
    }
    
    .confirmation_bar{
        flex: 1 0 21%;
        max-width: 550px;
        height: 230px;
        padding: 30px 40px 30px 40px;
        margin: 0px 30px 0px 30px;
        .confirmation_bar-caption{
            letter-spacing: 2px;
            font-size: 22px;
            font-family: Poppins;
            font-weight: 600;
            margin: 0;
        }
    
        .name{
            display: none;
        }
    
        .confirm_barp_cost{
            letter-spacing: 2px;
            font-size: 16px;
            font-family: Poppins;
            font-weight: 800;
            margin: 14px 0 10px 0;
        }
    
        .confirm_bar_cost{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 500px){
    .section-cart{
        margin: 0px auto;
    }
    .main-title{
        width: 100%;
        .main-title-caption{
            font-size: 30px;
            text-align: start;
            margin: 8px 0 10px 14px ;
        }
    }
    
    .chosen_prod{
        flex: 1 1 70%;
        min-height: 10px;
        margin: 0 15px ;
        .confirmation_bar-caption{
            font-size: 16px;
            margin: 0px;
            padding: 15px;
        }
    }
    
    .cart-title-btn2{
        p{
            padding-left: 10px;
            font-size: 16px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: #000;
        background-color: #ffffff;
        border: 1.5px solid $color_2;
        margin: 20px 0 20px 0;
        height: 44px;
        width: 100%;
    }
    
    .cart-title-btn{
        p{
            padding-left: 10px;
            font-size: 16px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 20px 0 20px 0; 
        height: 44px;
        width: 100%;
    }
    
    .special-arrow{
        width: 60px;
        height: 20px;
        display: inline-block;
        position: relative;
    }
    
    .special-arrow::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        top: 46%;
        left: 153%;
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        position: relative;
        transform-origin: 50% 50%;
    }
    .special-arrow::after {
        content: '';
        display: block;
        top: 11%;
        left: 172%;
        border-style: solid;
        border-color:#ffffff;
        position: relative;
        transform-origin: 50% 50%;
    }
    
    .right3::before { 
        transform: rotate(45deg); 
        margin: -4px 0 0 -52px;
    }
    .right3::after { 
        width: 30px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-84px, 1px);
    }
    .pay-form{
        position: relative;
        flex: 1 0 65%;
        max-width: 1000px;
        margin: 30px 15px 60px 15px;
        box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
    }
    
    .payment_form{
        padding: 0px;
        background-color: $color_5;
        
        
        .Details_subsect{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Details_sect{
            width: 95%;
            padding: 10px;
            display: flex;
            justify-content: center;
            margin-bottom: 27px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            background-color: $color_4;
        }
        .details_sect-caption{
            font-size: 18px;
            width: 83%;
            
            margin: 5px 0 0 5px;
        }
    
        .name{
            margin: 10px 5px 10px 5px ;
            height: 40px;
            width: 85%;
            font-size: 14px;
        }
    
        .name:placeholder-shown{
            color: #9b9a9a;
            font-size: 14px;
            letter-spacing: 1px;
        }
    
        .namelabel{
            font-size: 10px;
            padding: 5px;
            top: -2px;
            left: 30px;
            letter-spacing: 1px;
        }
        .img_input1{
            position: absolute;
            width: 14px;
            height: 16px;
            top: 23px;
            right: 12%;
        }
        .img_input2{
            position: absolute;
            width: 15px;
            height: 13px;
            top: 26px;
            right: 12%;
        }
    
        .Payment_sect{
            padding: 10px 10px 15px 10px;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            background-color: $color_4;
            .payment_check{
                display: flex;
                flex-direction: row;
                margin: 30px 0 0 10px;
                input[type=checkbox] {
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    margin: 0;
                    font: inherit;
                    color: $color_2;
                    width: 25px;
                    height: 25px;
                    border: 0.15em solid $color_2;
                    border-radius: 7px;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;
                }
    
                input[type=checkbox]::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border-radius: 7px;
                    transform: scale(0);
                    background-image: url(../img/Group\ 427319235.svg);
                    background-size: cover;
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1em 1em var(--form-control-color);
                }
    
                input[type=checkbox]:checked::before {
                    transform: scale(1);
                }
    
                .payment_check_txt{
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 2px 0 0 15px;
                    letter-spacing: 0.2px;
                    font-size: 14px;
                    font-family: Poppins;
                    font-weight: 600;
                    color: #a0a0a0;
                    height: fit-content;
                }
    
               
            }
            .online_paymentform{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                display: none;
                width: 98%;
                border-radius: 10px;
                box-shadow: 0px 4px 10px rgba(255, 255, 255, 0);
                height: fit-content;
                padding: 10px 0px 10px 0px;
                margin: 10px 0 0 0;
                .namelabel{
                    top: -2px;
                }
            }
            
        }
    }
    
    .confirmation_bar{
        flex: 1 0 18%;
        max-width: 550px;
        height: 200px;
        padding: 20px 25px 20px 25px;
        margin: 0px 15px 0 0;
        .confirmation_bar-caption{
            letter-spacing: 2px;
            font-size: 18px;
            font-family: Poppins;
            font-weight: 600;
            margin: 0;
        }
    
        .name{
            display: none;
        }
    
        .confirm_barp_cost{
            letter-spacing: 2px;
            font-size: 14px;
            font-family: Poppins;
            font-weight: 800;
            margin: 14px 0 10px 0;
        }
    
        .confirm_bar_cost{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}