.section7{
    padding: 100px 0 100px 0;
    display: none;
    justify-content: space-evenly;

    .main-title-caption{
        @extend %font1;
        font-size: 53px;
        letter-spacing: 3px;
        font-weight: 900;
        color: $color_1;
        margin: 8px 0 10px 0 ;
        font-weight: bolder;
        text-align: center;
    }

    .main-title-btn{
        p{
            padding-left: 10px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @extend %button1;  
    }

    .special-arrow{
        width: 60px;
        height: 20px;
        display: inline-block;
        position: relative;
    }
    
    .special-arrow::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        top: 46%;
        left: 153%;
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        position: relative;
        transform-origin: 50% 50%;
    }
    .special-arrow::after {
        content: '';
        display: block;
        top: 4%;
        left: 163%;
        border-style: solid;
        border-color:#ffffff;
        position: relative;
        transform-origin: 50% 50%;
    }
    
    .right3::before { 
        transform: rotate(45deg); 
        margin: -4px 0 0 -52px;
    }
    .right3::after { 
        width: 38px;
        height: 0;
        border-width: 2px 0 0 0;
        transform: translate(-84px, 1px);
    }

    .section7-login{
        position: relative;
        width: 550px;
        flex-direction: column;
        padding-left: 60px;
    }

    .section7-login::after{
       content: "";
       top: 0;
       left: 0;
       position: absolute;
       width: 100%;
       height: 100%;
       background:#ffffff url("../img/icons8-loading-circle.gif") center / 50px no-repeat;
       opacity: 0;
       visibility: hidden;
       transition: 0.5s;
    }

    .section7-login._sending::after{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
     }
    
    .section7-login label{
        margin-left: 15px;
        padding: 0 10px 0 10px;
        background-color: #ffffff;
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        color: #9b9a9a;
    }
    
    .namelabel{
        top: 229px;
    
    }
    
    .maillabel{
        top: 327px;
    }
    
    .section7-consultation{
        text-align: start;
        font-size: 43px;
        margin-bottom: 10px;
        margin-top: 80px;
        width: 400px;
    }
    
    .section7-consultation-description{
        width: 540px;
        font-size: 19px;
        line-height: 22px;
        letter-spacing: 1.22px;
        color: #303030;
        margin: 0 0 7px 0;
        @extend %font1;  
    }
    
    .name{
        padding-left: 16px;
        width: 470px;
        height: 60px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border: 1.5px solid #9b9a9a;
        border-radius: 7px;
        margin: 33px 0 0 0;
        outline: none;
    }
    
    .name:-webkit-autofill {
         -webkit-box-shadow: inset 0 0 0 55px #fff!important;
        box-shadow: inset 0 0 0 55px #fff!important;
    }
    
    .name :placeholder-shown{
        color: #9b9a9a;
        letter-spacing: 1px;
    }
    
    .img_input1{
        position: absolute;
        top: 262px;
        margin-left: 450px;
        width: 20px;
        height: 22px;
    }
    
    .img_input2{
        position: absolute;
        top: 363px;
        margin-left: 450px;
        width: 24px;
        height: 19px;
    }

    .main-title-btn{
        margin: 22px 0 0 0;
    }

    .checkbox-div{
        flex-direction: row;
        font-size: 16px;
        width: 480px;
        height: 40px;
    }
    
    .section7-checkbox{
        display: grid;
        place-content: center;
        width: 20px;
        height: 20px;
        padding-bottom: 20px;
        margin: 2px 10px 0 1px;
    }
    
    .section7-checkbox::after{
        background-color:#D9D9D9;
    }
    
    .section7-checkbox-label{
        width: 460px;
        height: 40px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1.51px;
        color: #8A8A8A;
        margin: 0 0 0 6px;
        text-align: start;
    }    
    .name._error{
        box-shadow: 0 0 15px;
    }
    
    .check_box_sec{
        display: flex;
        flex-direction: row;
    }
    
    .img{
        width: 720px;
        height: 600px;
        margin:  35px 40px 40px 45px;
        background-image: url(../img/Vector\ 7.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 1025px){
    .section7{
        .special-arrow{
            width: 50px;
        }

        .special-arrow::after {
            top: 9%;
            left: 190%;
        }

        .right3::after { 
            width: 26px;
        }

        .special-arrow::before {
            width: 8px;
            height: 8px;
            top: 40%;
            left: 160%;
        }

        .main-title-caption{
            font-size: 33px;
            letter-spacing: 2px;
            font-weight: 900;
            color: $color_1;
            margin: 8px 0 10px 0 ;
            font-weight: bolder;
            text-align: center;
        }
    
        .section7-consultation{
            font-size: 33px;
            margin-bottom: 8px;
            margin-top: 40px;
            width: 200px;
        }

        .section7-consultation-description{
            width: 540px;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 1px;
            color: #303030;
            margin: 0 0 0 0;
        }
    
        .main-title-btn{
            p{
                padding-left: 0px;
            }
            height: 45px;
            width: 190px;
            font-size: 16px;
        }

        .name{
            width: 328px;
            height: 50px;
            font-size: 16px;
            margin: 23px 0 0 0;
        }
        
        .name:-webkit-autofill {
             -webkit-box-shadow: inset 0 0 0 55px #fff!important;
            box-shadow: inset 0 0 0 55px #fff!important;
        }
        
        .name :placeholder-shown{
            color: #9b9a9a;
            letter-spacing: 1px;
        }

        .namelabel{
            top: 155px;
            font-size: 15px;
        }
        
        .maillabel{
            top: 233px;
            font-size: 15px;
        }
        
        .img_input1{
            top: 183px;
            margin-left: 312px;
            width: 16px;
            height: 17px;
        }
        
        .img_input2{
            top: 261px;
            margin-left: 312px;
            width: 18px;
            height: 15px;
        }
    
        .main-title-btn{
            margin: 22px 0 0 0;
        }
    
        .checkbox-div{
            flex-direction: row;
            font-size: 16px;
            width: 480px;
            height: 40px;
        }
        
        .section7-checkbox{
            width: 17px;
            height: 17px;
            padding-bottom: 20px;
            margin: 3px 10px 0 1px;
        }
        
        .section7-checkbox-label{
            width: 400px;
            font-size: 12px;
        }
        
        .img{
            align-self: center;
            width: 720px;
            height: 400px;
            margin:  35px 40px 40px 45px;
            background-size: cover;
        }
    }
}

