$color_1:#4f9e00;
$color_2:#8A8A8A;
$color_3:#303030;
$color_4:#FFFFFF;
$color_5:#F9FFFD;
$color_6:#00ff2a;

@import "fonts";

%adjust{
    display: flex;
    flex-direction: row;
}
%pading1{
    padding:  50px 100px 50px 100px;
}
%pading2{
    padding:  20px 40px 20px 40px;
}

%font1{
    list-style-type: none;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: $color_2;
}
%button1{
    width: 224px;
    height: 55px;
    color: $color_4;
    background: $color_1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: light;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    margin: 20px 12px 20px 12px;
}

body{
    margin: 0px;
    background-color: $color_5;
    @import "header.scss";
    @import "main.scss";
    @import "consult.scss";
    @import "mainShop.scss";
    @import "footer.scss";
    
}




















